ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #007bff;
	padding-left: 15px;
	line-height: 2.5;
	display: block;
}


table {
	width: 600px;
	border-spacing: 0;
	min-width: 600px;
	margin-top: 30px;
	font-size: 0.8em;
}


th {	
	height: 50px;
	background: #212529;
	color: white;
	text-align: left;
	font-weight: 600;
	font-size: 110%;
	padding-left: 10px;
}

td {
	width: 0;
	text-align: left;
	padding-left: 10px;
	height: 50px;
	font-size: 110%;
}

tfoot td {
	background: #dadada;
}


table tr:nth-child(odd) {
	background: #fff;
}

table tr:nth-child(even) {
	background: #ececec;
}

table td:nth-last-child(1) {
	text-align: right;
	padding-right: 10px; 
}

.row {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto; 
	width: 80%;
	height: 50%:;
	font-family: 'Nunito', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 30px;
	margin-top: 15px;
    width: 650px;
}

.menu {
	height: 220px;
	width: 350px;
	min-width: 180px;
	padding-left: 5px;
	display: inline-block;
	vertical-align: top;
}

.title {
	width: 600px;
	box-sizing: border-box;
	background: #e9ecef;
	height: 270px;
	font-size: 110%;
	border-radius: 5px;
	padding: 50px 30px 10px 30px;
}

.field {
	margin-top: 15px;
	height: 30px;
	font-size: 70%;
	padding-left: 10px; 
	border-radius: 4px;
	color: #878787;
	border: none;
}

.item {
	color: #007bff;
}

.items {
	width: 220px;
}

.quant, .price {
	width: 66px;
	margin-left: 20px;
}

.add, .update {
	margin-top: 15px;
	height: 30px;
	padding-left: 10px; 
	border-radius: 4px;
	color: #878787;
	border: none;
	width: 85px;
	color: white;
	margin-left: 20px;
	position: absolute;
	background: #28a745;
}

.update {
	background: #17a2b8;
}

.delete-button, .edit-button, .remove-del, .remove-done {
	width: 30px;
	height: 30px;
	background: #dc3545;
	color: white;
	font-size: 110%;
	font-weight: 800;
	border-radius: 3px;
	border: none;
	margin-left: 4px;
}

.edit-button {
	background: #ffc107;
	transform: scale(-1, 1);
}

.select {
	background-color: #ffc107; 
	color: red;
}

.hover {
	background: #007bff;
	border-radius: 4px;
	color: white;
}